node_modules
Start_bot.bat
.env
.templates
template.config.js
mongodbURI.json
QDen-google.json
bots.json
vc_configuration.db
vcdev_configuration.db
vc_configuration.db-shm
vc_configuration.db-wal
vc_configuration.sqbpro